# Git
.git
.gitignore
 
# Python
__pycache__/
*.py[cod]
*.pyo
.Python
*.egg-info/
 
# Ambientes virtuais
.venv
venv
env
 
# Variáveis de ambiente
.env
 
# Banco de dados local
*.sqlite3
 
# Testes e cobertura
.coverage
htmlcov/
.pytest_cache/
 
# IDEs
.vscode/
.idea/
 
# Docker
Dockerfile
docker-compose.yml