# Variáveis de ambiente
.env

# Python
__pycache__/
*.py[cod]
*.pyo
*.pyd
.Python

# Ambientes virtuais
.venv/
venv/
env/

# Django
*.sqlite3
media/
staticfiles/

# Poetry
dist/

# Testes e cobertura
.coverage
htmlcov/
.pytest_cache/

# IDEs
.vscode/
.idea/
*.swp

# Sistema operacional
.DS_Store
Thumbs.db

# Docker
*.log

COMPLIANCE_REPORT.md